*{
    box-sizing: border-box;
    border-radius: 0.8rem;
}


body{
    margin: 0;
}


.header,
aside,
.div-container div,
.footer-div {
    /* background-color: steelblue; */
    background-color: rgb(197,232,243);
    border: 2px solid black;
    padding: 0.8rem;
}

.main-layout{
    padding: 1rem;
    text-align: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
}

.header{
    grid-column: 1/2;
}

main{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 1rem;
    background-color: rgb(168, 249, 249);
    padding: 1rem;

}

section{
    padding: 1rem 2rem;
    /* padding-top: 4rem; */
    background-color: rgb(7, 49, 84);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 1rem;
}

section h3{
    color: white;
}

.div-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}



img{
    margin: 2rem;
    width: 800px;
    height: 800px;
    
}
